<nav class="col-xs-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        <li>
            <a href="#Admin">Admin</a>
            <ul class="nav nav-stacked">
                <li><a href="#PendingInterpreters">Pending Interpreters</a></li>
                <li><a href="#AllInterpreters">All Interpreters</a></li>
                <li><a href="#PromotionDemotion">Promotion or Demotion of Users</a></li>
                <li><a href="#DeactivatingAccount">Deactivating Account</a></li>
                <li><a href="#AddInterpreterQualifications">Add Interpreter Qualifications</a></li>
                <li><a href="#CreateAnInterpreter">Create an Interpreter</a></li>
                <li><a href="#CurrentJobRequests">Current Job Requests</a></li>
                <li><a href="#AllJobs">All Jobs</a></li>
                <li><a href="#CreateAJob">Create a Job</a></li>
                <li><a href="#PendingCustomers">Pending Customers</a></li>
                <li><a href="#AllCustomers">All Customers</a></li>
                <li><a href="#CreateACustomer">Create a Customer</a></li>
            </ul>
            <!-- /.nav nav-stacked -->
            <a href="#AdminTabDescriptions">Admin Tab Descriptions</a>
            <ul class="nav nav-stacked">
                <li><a href="#Dashboard">Dashboard</a></li>
                <li><a href="#Search">Search</a></li>
                <li><a href="#Interpreters">Interpreters</a></li>
                <li><a href="#JobRequests">Job Requests</a></li>
                <li><a href="#Jobs">Jobs</a></li>
                <li><a href="#Customers">Customers</a></li>
            </ul>
            <!-- /.nav nav-stacked -->
        </li>
    </ul>
    <!-- /.nav nav-stacked fixed -->
</nav>
<!-- /.col-xs-3 bs-docs-sidebar -->
