<div class="col-xs-9">
    <section id="Admin" class="group">
        <h3>Admin</h3>
        <div id="PendingInterpreters" class="subgroup scroll-adjust">
            <h4>Pending Interpreters</h4>
            <p>
                On this page, Admin can approve interpreter to be part of the TSHA system, or deny their access completely. Once an interpreter has signed up for an account they receive an email notification. This email will have a link that directs the interpreter to the TSHA page. Access will only be granted once the admin has approved the application. They will then be able to begin to use their account. If denied, the interpreter will also get an email notification which informs them they have not been accepted.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="AllInterpreters" class="subgroup scroll-adjust">
            <h4>All Interpreters</h4>
            <p>
                On this page, all of the interpreters are listed with their role (admin, manager, interpreter), first name, last name, email and whether they are approved and active. Active determines whether or not the interpreter has accessed the link in the email received after completing the signup form. Approved demonstrates that the interpreter has been accepted and has an account. The admin and manager can later remove any individuals. If an interpreter's first name, last name or email is selected, their personal profile will appear. This includes their qualifications, admin options (promote to admin, demote to interpreters, deactivate account). Interpreters can be searched by first and last name at the top of the page using the search function.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="PromotionDemotion" class="subgroup scroll-adjust">
            <h4>Promotion or Demotion of Users</h4>
            <p>
                By going to the Interpreter subsection of “All Interpreters”, you can see everyone have the capability to act like an interpreter. This will include interpreter,manager and administrator. By clicking on any of their information, the ID, first name, last name, or email, you will direct to their personal information page. Here as an admin or manager, you will see the option of promote, demote or deactivate an account. By promoting or demoting, the user will have the capability of the position they have been newly assigned. All users are restricted to promoting or demoting themselves.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="DeactivatingAccount" class="subgroup scroll-adjust">
            <h4>Deactivating Account</h4>
            <p>
                    By going to user’s account page, administrators and managers can see the option to deactivate these account. Deactivating account will deny their access to the TSHA system. The user’s information will still be in the system, if it is needed later. If admin want to reactivate account, the process is the same as deactivating.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="AddInterpreterQualifications" class="subgroup scroll-adjust">
            <h4>Add Interpreter Qualifications</h4>
            <p>
                    List of all approved and active interpreters. Admin has the ability to deactivate interpreters here.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="CreateAnInterpreter" class="subgroup scroll-adjust">
            <h4>Create an Interpreter</h4>
            <p>
                    The admin has the ability to create an interpreter account here. This occurs in cases where an interpreter is not tech savvy or for some reason is not capable of creating their own account. The admin is required to fill in fields including: First name, last name, gender, cellphone, email, password and confirm password. If the interpreter chooses to use their account on their own, they need to be notified about which email address and password they need to use.
            </p>
        </div>
        <div id="CurrentJobRequests" class="subgroup scroll-adjust">
            <h4>Current Job Requests</h4>
            <p>
                    The admin has the ability to create an interpreter account here. This occurs in cases where an interpreter is not tech savvy or for some reason is not capable of creating their own account. The admin is required to fill in fields including: First name, last name, gender, cellphone, email, password and confirm password. If the interpreter chooses to use their account on their own, they need to be notified about which email address and password they need to use.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="AllJobs" class="subgroup scroll-adjust">
            <h4>All Jobs</h4>
            <p>
                A list of all the available jobs.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="CreateAJob" class="subgroup scroll-adjust">
            <h4>Create a Job</h4>
            <p>
                On this page, the admin can create any job that needs interpreters. Information about the job needs to be filled out, including: Customer, start date and time, end date and time, address (city, state, zip code) and qualifications. This will then go to the all jobs section. An interpreter will only see the list of created jobs that are within their qualifications.
            </p>
        </div>
        <div id="PendingCustomers" class="subgroup scroll-adjust">
            <h4>Pending Customers</h4>
            <p>
                On this page, Admin can approve customers to be part of the TSHA system, or deny their access completely. Once a customer has signed up for an account they receive an email notification. This email will have a link that directs the customer to the TSHA page. Access will only be granted once the admin has approved the application. They will then be able to begin to use their account. If denied, the customer will also get an email notification which informs them they have not been accepted.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="AllCustomers" class="subgroup scroll-adjust">
            <h4>All Customers</h4>
            <p>
                This page shows a list of all the customers that TSHA has. The information listed on this page includes: ID, customer name, contact's first and last name and their email. Once a customer is selected, the admin is directed to their profile.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="CreateACustomer" class="subgroup scroll-adjust">
            <h4>Create a Customer</h4>
            <p>
                The admin has the ability to create a customer account here. This occurs in cases where a customer is not tech savvy or for some reason is not capable of creating their own account. The admin is required to fill in fields including: Customer name, email, contact first and last name. If the customer chooses to use their account on their own, they need to be notified about which email address and password they need to use.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
    </section>
    <!-- /.group -->
    <section id="AdminTabDescriptions" class="group">
        <h3>Admin Tab Descriptions</h3>
        <div id="Dashboard" class="subgroup scroll-adjust">
            <h4>Dashboard</h4>
            <p>
                This tab shows the admin an overview of all information that is relevant to completing their administrative actions. The tab briefly shows information like pending users, total interpreters, job requests, etc.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="Interpreters" class="subgroup scroll-adjust">
            <h4>Interpreters</h4>
            <p>
                The Interpreters tab has the pending interpreters, all interpreters and create an interpreter sections, which appear when the Interpreters tab is selected.
            </p>
            <h5><i>Pending Interpreters</i></h5>
            <p>
                This tab lists all the pending interpreters waiting to be approved by the admin. If a pending interpreter is accepted, they will appear in the All Interpreters page.
            </p>
            <h5><i>All Interpreters</i></h5>
            <p>
                This tab holds a list of all possible interpreters including those that are still waiting for approval.
            </p>
            <h5><i>Create an Interpreter</i></h5>
            <p>
                This tab holds the form for an admin to create a new interpreter profile.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="JobRequests" class="subgroup scroll-adjust">
            <h4>Job Requests</h4>
            <p>
                The Job Requests tab has the pending job requests and a history of all job requests.
            </p>
            <h5><i>Pending</i></h5>
            <p>
                The pending tab allows the manager to see which jobs need to be approved or denied into the system.
            </p>
            <h5><i>History</i></h5>
            <p>
                A list of jobs that have been completed.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="Jobs" class="subgroup scroll-adjust">
            <h4>Jobs</h4>
            <p>
                This tab holds the current job requests, all jobs, and the form to create a job.
            </p>
            <h5><i>Needs Confirmation</i></h5>
            <p>
                These jobs need interpreters approved to them.
            </p>
            <h5><i>Confirmed</i></h5>
            <p>
                These jobs have interpreters assigned to them, but the job itself has not started yet.
            </p>
            <h5><i>Awaiting Invoice</i></h5>
            <p>
                These jobs have been completed, but still need the interpreter to submit an invoice to be declared completed by the TSHA system.
            </p>
            <h5><i>Expired</i></h5>
            <p>
                These jobs did not get an interpreter assigned to them before the start date assigned to the job.
            </p>
            <h5><i>All Jobs</i></h5>
            <p>
                This tab holds a list of all possible jobs even if they have not yet been approved, still waiting to be filled, or have been filld and approved.
            </p>
            <h5><i>Create a Job</i></h5>
            <p>
                This tab holds the form to create a new job. After this form has been completed the job is placed into current job requests and into all jobs.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="Customers" class="subgroup scroll-adjust">
            <h4>Customers</h4>
            <p>
                This tab holds information regarding pending customers, all customers, and a form to create customers.
            </p>
            <h5><i>Pending Customers</i></h5>
            <p>
                This tab lists all the pending customers waiting to be approved by the admin. If a pending interpreter is accepted, they will appear in the All Customers page.
            </p>
            <h5><i>All Customers</i></h5>
            <p>
                This tab holds a list of all possible customers including those that are still waiting for approval.
            </p>
            <h5><i>Create a Customer</i></h5>
            <p>
                This tab holds a form for an admin to create a new customer.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->         
    </section>
    <!-- /.group -->
</div>
<!-- /.col-xs-9 -->