<nav class="col-xs-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        <li>
            <a href="#CustomerTasks">Customer Tasks</a>
            <ul class="nav nav-stacked">
                <li><a href="#CreateAJob">Create a Job</a></li>
            </ul>
            <!-- /.nav nav-stacked -->
            <a href="#CustomerTabDescriptions">Customer Tab Descriptions</a>
            <ul class="nav nav-stacked">
                <li><a href="#YourJobRequests">Your Job Requests</a></li>
                <li><a href="#YourJobs">Your Jobs</a></li>
                <li><a href="#YourInvoices">Your Invoices</a></li>
            </ul>
            <!-- /.nav nav-stacked -->
        </li>
    </ul>
    <!-- /.nav nav-stacked fixed -->
</nav>
<!-- /.col-xs-3 bs-docs-sidebar -->
