<div class="col-xs-9">
    <section id="CustomerTasks" class="group">
        <h3>Customer Tasks</h3>
        <div id="CreateAJob" class="subgroup scroll-adjust">
            <h4>Create a Job</h4>
            <p>
                To create a job go to the “Your Job Requests”  and then the “Create” tab. Please be sure to enter your information correctly. Make sure that your start time is not the current time, but the time that you want your interpreter to start work. Submit your job and TSHA will process it as soon as possible.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
    </section>
    <!-- /.group -->
    <section id="CustomerTabDescriptions" class="group">
        <h3>Customer Tab Descriptions</h3>
        <div id="YourJobRequests" class="subgroup scroll-adjust">
            <h4>Your Job Requests</h4>
            <h5><i>Create</i></h5>
            <p>
                The create tab holds the form for a customer to submit a request for an upcoming job. After the job request is submitted it will appear in the pending approval section while job job is waiting to be filled. The job will also appear in the current job requests.
            </p>
            <h5><i>Pending Approval</i></h5>
            <p>
                This tab holds all jobs that have been submitted, but not yet approved. If a job has been approved it will appear in the Current tab.
            </p>
            <h5><i>Approved</i></h5>
            <p>
                This tab has all of the jobs that TSHA has approved but that an interpreter has not yet been assigned to.
            </p>
            <h5><i>Rejected</i></h5>
            <p>
                This tab holds a list of non approved job requests submitted by the customer.
            </p>
            <h5><i>Expired</i></h5>
            <p>
                This tab holds all jobs that did not receive an interpreter by the time the job was scheduled to start.
            </p>
            <h5><i>All</i></h5>
            <p>
                This tab is an unfiltered view of your jobs.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="YourJobs" class="subgroup scroll-adjust">
            <h4>Your Jobs</h4>
            <h5><i>Current</i></h5>
            <p>
                This tab holds all of the jobs that are currently in progress.
            </p>
            <h5><i>Pending</i></h5>
            <p>
                This tab holds all of the jobs that are currently pending more actions.
            </p>
            <h5><i>Completed</i></h5>
            <p>
                This tab holds all jobs that have been completed by their assigned interpreter(s).
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->
        <div id="YourInvoices" class="subgroup scroll-adjust">
            <h4>Your Invoices</h4>
            <h5><i>History</i></h5>
            <p>
                This tab holds a list of your invoices sent from TSHA.
            </p>
        </div>
        <!-- /.subgroup scroll-adjust -->        
    </section>
    <!-- /.group -->
</div>
<!-- /.col-xs-9 -->