<div class="col-xs-9">
  <section id="InterpreterTasks" class="group">
    <h3>Interpreter Tasks</h3>
    <div id="ApplyForAJob" class="subgroup scroll-adjust">
      <h4>Apply for a Job</h4>
      <p>
        To apply for a job click on the “Available Jobs” tab. In this tab you will see any job that you are qualified to work. Simply click “request” to put in a bid to work the job. If you are accepted to work the job your jobs will be updated.
      </p>
    </div>
    <!-- /.subgroup scroll-adjust -->
    <div id="SubmitInvoice" class="subgroup scroll-adjust">
      <h4>Submit Invoice</h4>
      <p>
        To submit an invoice go to your current jobs tab and find a job or jobs that you have completed. They will have the tag “Awaiting Your Invoice”. Select that job and then select “Submit Invoice”. Fill out all of the needed information and TSHA will process your invoice as soon as they are able.
      </p>
    </div>
    <!-- /.subgroup scroll-adjust -->
  </section>
  <!-- /.group -->
  <section id="InterpreterTabDescriptions" class="group">
    <h3>Interpreter Tab Descriptions</h3>
    <div id="YourJobRequests" class="subgroup scroll-adjust">
      <h4>Available Jobs</h4>
      <p>
        This page lists all of the available jobs that an interpreter can choose to apply for.
      </p>
    </div>
    <!-- /.subgroup scroll-adjust -->
    <div id="YourJobs" class="subgroup scroll-adjust">
      <h4>Your Jobs</h4>
      <p>
        This tab is a drop down which includes a Current, Pending Approval, Completed and Rejected option. The interpreter can view at what stage their job application is, and see which jobs they have completed and been rejected from.
      </p>
      <h5><i>Current</i></h5>
      <p>
        This page lists the current jobs that the interpreter applied for that have been accepted by the administrator. The job ID, contact name, job start and end information as well as the status are listed on this page. Status will change depending on what part of the job process the interpreter is currently at. Once a job on the Current Job page is complete it will move to the Complete Jobs page.
      </p>
      <h5><i>Pending Approval</i></h5>
      <p>
        This page lists all the jobs that the interpreter has applied for and are waiting to be approved by the admin. If the interpreter meets the job requirements the admin will approve the interpreter. This pending job will then move to the Current Jobs page.
      </p>
      <h5><i>Completed</i></h5>
      <p>
        On this page all of the jobs that the interpreter has completed are listed.
      </p>
      <h5><i>Rejected</i></h5>
      <p>
        This page lists all of the jobs the interpreter has not been accepted to work. This could be because the job was already filled by another interpreter.
      </p>
    </div>
    <!-- /.subgroup scroll-adjust -->
    <div id="YourInvoices" class="subgroup scroll-adjust">
      <h4>Your Invoices</h4>
      <h5><i>Current Submitted Invoices</i></h5>
      <p>
        This page lists all the invoices that you have submitted to TSHA.
      </p>
      <h5><i>Official TSHA Invoices</i></h5>
      <p>
        This page lists all the invoices that TSHA has created.
      </p>
    </div>
    <!-- /.subgroup scroll-adjust -->        
  </section>
  <!-- /.group -->
</div>
<!-- /.col-xs-9 -->
