<nav class="col-xs-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        <li>
            <a href="#InterpreterTasks">Interpreter Tasks</a>
            <ul class="nav nav-stacked">
                <li><a href="#ApplyForAJob">Apply for a Job</a></li>
                <li><a href="#SubmitInvoice">Submit Invoice</a></li>
            </ul>
            <!-- /.nav nav-stacked -->
            <a href="#InterpreterTabDescriptions">Interpreter Tab Descriptions</a>
            <ul class="nav nav-stacked">
                <li><a href="#AvailableJobs">Available Jobs</a></li>
                <li><a href="#YourJobs">Your Jobs</a></li>
                <li><a href="#YourInvoices">Your Invoices</a></li>
            </ul>
            <!-- /.nav nav-stacked -->
        </li>
    </ul>
    <!-- /.nav nav-stacked fixed -->
</nav>
<!-- /.col-xs-3 bs-docs-sidebar -->
