<% provide(:title, "About") %>
<h1>About</h1>
<p>
	This is the about page for TSHA's interpreter matching system. For more info on TSHA, please visit <a href="http://tsha.cc/">TSHA's website</a>..
</p>