<% provide(:title, "About") %>
<div class="container">
  <%= render 'layouts/alerts' %>
  <h3>
    About
  </h3>
  <p>
    This is the about page for TSHA's interpreter matching system. For more info on TSHA, please visit <a href="http://tsha.cc/">TSHA's website</a>.
  </p>
</div>
<!-- /.container -->
