<% provide(:title, "Help") %>
<div class="container">
	<%= render 'layouts/alerts' %>
	<h1>
		Help
	</h1>
	<p>
		This is the help page for TSHA's interpreter matching system. For more info on TSHA, please visit <a href="http://tsha.cc/">TSHA's website</a>.
	</p>
</div>
<!-- /.container -->
