<% provide(:title, "Home") %>
<h1>TSHA Interpreters</h1>
<p>
	This is the home page for TSHA's interpreter matching system. For more info on TSHA, please visit <a href="http://tsha.cc/">TSHA's website</a>.
</p>