<div class="center jumbotron">
<%= link_to image_tag("tshalogo.png", alt: "TSHA Logo"),
            'http://www.tsha.cc' %>
<h1>TSHA Interpreters</h1>
<h2>
	This is the home page for TSHA's interpreter matching system. For more info on TSHA, please visit <a href="http://www.tsha.cc/">TSHA's website</a>.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

