<h1>
	TSHA Interpreters
</h1>

<p>
	Hi <%= @user.first_name %>,
</p>

<p>
	Your account request with the TSHA system has been approved by <%= @manager.first_name %> <%= @manager.last_name %>. You will now be able to login and find jobs.
</p>
