<tr>
	<td>
		<%= link_to "#{job_request.id}", job_request %>
	</td>
	<td>
    <%= link_to "#{job_request.deaf_client_first_name} #{job_request.deaf_client_last_name}", job_request %>
  </td>
  <td>
    <%= link_to "#{job_request.contact_person_first_name} #{job_request.contact_person_last_name}", job_request %>
  </td>
  <td>
    <%= job_request.start_date.to_formatted_s(:long_ordinal) %>
  </td>
  <td>
		<% if job_request.awaiting_approval? %>
    	<span class="label label-warning">Awaiting Approval</span>
  	<% elsif job_request.accepted? %>
    	<span class="label label-success">Approved</span>
    <% elsif job_request.denied? %>
      <span class="label label-danger">Rejected</span>
    <% elsif job_request.expired? %>
      <span class="label label-danger">Expired</span>
    <% end %>
  </td>
</tr>
