<% if @job.has_interpreter_assigned? && !@job.invoice_submitted? %>
  <span class="label label-warning">Awaiting Invoice</span>
<% elsif @job.expired? %>
  <span class="label label-danger">Expired</span>
<% elsif !@job.has_interpreter_assigned? && !@job.expired? %>
  <span class="label label-warning">Needs Interpreter</span>
<% end %>
