<% if @job.has_interpreter_assigned? && @job.start > Time.now %>
  <span class="label label-success">Confirmed</span>
<% elsif @job.expired? %>
  <span class="label label-danger">Expired</span>
<% elsif !@job.has_interpreter_assigned? && !@job.expired? %>
  <span class="label label-warning">Needs Confirmation</span>
<% elsif @job.has_interpreter_assigned? && @job.start < Time.now && !@job.invoice_submitted? %>
  <span class="label label-warning">Awaiting Invoice</span>
<% end %>