<% provide(:title, 'Expired Jobs') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
          Expired Jobs
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <%= render 'expired_jobs_table' %>
</div>
<!-- /.page-wrapper -->
