<% provide(:title, 'All Jobs') %>
<%= render 'layouts/manager_dashboard' %>
<%= render 'layouts/alerts' %>
<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        All Jobs
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
	<ul class="jobs">
		<%= render @jobs %>
	</ul>
	<!-- /.jobs -->
</div>
<!-- /.page-wrapper -->
