<% provide(:title, 'Needs Confirmed Interpreter') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
          Needs Confirmed Interpreter
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <%= render 'jobs_in_need_of_confirmed_interpreter_table' %>
</div>
<!-- /.page-wrapper -->
