<% provide(:title, 'Create a Job From Job Request') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        Create a Job From Job Request
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= render 'job_from_job_request_form' %>
    </div>
    <!-- /.col-md-8 col-md-offset-2 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->
