<% if @users.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          Vendor #
        </th>
        <th>
          Role
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Joined
        </th>
        <th>
          Approved?
        </th>
        <th>
          Active?
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <!-- /.table table-striped -->
<% end %>
