<tr>
  <td>
    <%= link_to "#{user.id}", user %>
  </td>
  <td>
    <% if user.admin? %>
      <span class="label label-warning">Administrator</span>
    <% elsif user.manager? %>
      <span class="label label-success">Manager</span>
    <% else %>
      <span class="label label-primary">Interpreter</span>
    <% end %>
  </td>
  <td>
    <%= link_to "#{user.first_name} #{user.last_name}", user %>
  </td>
  <td>
    <%= link_to "#{user.email}", user %>
  </td>
  <td>
    <% if user.approved? %>
      <span class="glyphicon glyphicon-ok" style="vertical-align:middle" aria-hidden="true"></span>
    <% else %>
      <span class="glyphicon glyphicon-remove" style="vertical-align:middle" aria-hidden="true"></span>
    <% end %>
  </td>
  <td>
    <% if user.active? %>
      <span class="glyphicon glyphicon-ok" style="vertical-align:middle" aria-hidden="true"></span>
    <% else %>
      <span class="glyphicon glyphicon-remove" style="vertical-align:middle" aria-hidden="true"></span>
    <% end %>
  </td>
</tr>
