<% if @manager_invoice.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@manager_invoice.errors.count, "error") %>.
    </div>
    <!-- /.alert alert-danger -->
    <ul>
      <% @manager_invoice.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- /.error_explanation -->
<% end %>
