<% provide(:title, "Interpreter Invoice #{@interpreter_invoice.id}") %>
<%= render 'layouts/interpreter_or_manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <h3 class="page-header">
        Interpreter Invoice #<%= @interpreter_invoice.id %>
      </h3>
      <!-- /.page-header -->
      <section class="user_info">
        <%= render 'interpreter_invoices/interpreter_invoice_info' %>
      </section>
      <!-- /.user_info -->
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->