<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Customer Notes:
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if @customer.customer_notes %>
      <%= @customer.customer_notes %>
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /. panel panel-info -->
