<tr>
  <td>
    <%= link_to "#{customer.tsha_number}", customer %>
  </td>
  <td>
    <%= link_to "#{customer.customer_name}", customer %>
  </td>
  <td>
    <%= link_to "#{customer.contact_first_name} #{customer.contact_last_name}", customer %>
  </td>
  <td>
    <%= link_to "#{customer.email}", customer %>
  </td>
  <td>
    <% if customer.approved? %>
      <span class="glyphicon glyphicon-ok" style="vertical-align:middle" aria-hidden="true"></span>
    <% else %>
      <span class="glyphicon glyphicon-remove" style="vertical-align:middle" aria-hidden="true"></span>
    <% end %>
  </td>
  <td>
    <% if customer.active? %>
      <span class="glyphicon glyphicon-ok" style="vertical-align:middle" aria-hidden="true"></span>
    <% else %>
      <span class="glyphicon glyphicon-remove" style="vertical-align:middle" aria-hidden="true"></span>
    <% end %>
  </td>
</tr>
