<h4>
  Manager Options:
</h4>
<div class="btn-group" role="group" aria-label="Justified button group">
  <%= link_to "Approve Account Request", approve_account_customer_path(id: @customer.id), class: "btn btn-success", role:"button", :data => {:confirm => "Are you sure you want to approve the account request for #{@customer.customer_name}? They will be notified via email."} %>
  <%= link_to "Deny Account Request", @customer, method: :delete, class: "btn btn-danger", role:"button", :data => {:confirm => "Are you sure you want to permanently deny the account request for #{@customer.customer_name}? (Warning: This cannot be reversed.)"} %>
</div>
<!-- /.btn-group btn-group-justified -->
