<% provide(:title, "Update Your Profile") %>
<%= render 'layouts/alerts' %>
<h3>
  Update Your Profile
</h3>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
  <!-- /.col-md8 col-md-offset-2 -->
</div>
<!-- /.row -->
