<% if user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% end %>
<%= render 'layouts/alerts' %>
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">
      <% if user_logged_in? && current_user.manager? %>
        <% provide(:title, 'Create A Customer') %>
        Create a Customer
      <% else %>
        <% provide(:title, 'Sign Up As A Customer') %>
        Sign Up As a Customer
      <% end %>
    </h3>
    <!-- /.page-header -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'form' %>
  </div>
  <!-- /.col-md-4 col-md-offset-4 -->
</div>
<!-- /.row -->
<% if user_logged_in? && current_user.manager? %>
  </div>
  <!-- /.page-wrapper -->
<% end %>
