<%= render 'layouts/customer_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        <% if customer_logged_in? && current_customer.approved? %>
          <% provide(:title, 'Job Requests Awaiting Approval') %>
          Job Requests Awaiting Approval
        <% elsif customer_logged_in && !current_customer.approved? %>
          <% provide(:title, 'Awaiting Approval') %>
          Awaiting Approval
        <% end %>
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <% if customer_logged_in? && !current_customer.approved? %>
    <%= render 'layouts/please_wait_for_tsha_to_approve_you' %>
  <% elsif customer_logged_in? && current_customer.approved? %>
    <%= render 'pending_approval_table' %>
  <% end %>
</div>
<!-- /.page-wrapper -->
