<footer class="footer">
  <small>
    Total Source for Hearing-loss and Access, <a href="http://www.tsha.cc/">TSHA</a> is a non-profit Tulsa Area United Way member agency.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://www.tsha.cc/events/">Events</a></li>
      <li><a href="http://www.tsha.cc/contact-us/">Contact Us</a></li>
      <li><a href="http://www.tsha.cc/resources/">Resources</a></li>
    </ul>
  </nav>
</footer>
